@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" />
<div class="p-3">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Seguiti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Esplora</a>
        </li>
    </ul>
    <div class="home" style="margin-top:10px">
        <div class="row p-3">
            <div class="col-9">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-1 p-3">
                            <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="50px"
                                 height="50px">
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col">
                                    <h4 class="card-title">Nome utente</h4>
                                    <p>Nome</p>
                                </div>
                                <div class="col text-end">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-dark" style="border: 0" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Modifica</a></li>
                                            <li><a class="dropdown-item" href="#">Elimina</a></li>
                                            <li><a class="dropdown-item" href="#">Segnala</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="~/img/Post.png" style="height: 350px;" alt="Errore nel caricamento...">
                            <br><br>
                            <button class="btn btn-outline-danger border-0" type="submit">
                                <i class="bi bi-heart"></i>
                            </button>Numero like
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h6 style="color: black;">Commenti:</h6>
                                <p><i class="bi bi-chat-left-text"></i> Numero commenti</p>

                                <div class="overflow-auto p-3 bg-light" style="max-width: 100%; max-height: 250px;">
                                    <h6>Nome utente</h6>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates
                                        repudiandae
                                        incidunt sapiente debitis velit repellendus quod quisquam autem voluptatum at modi
                                        aut,
                                        quos ea recusandae veniam, optio fugiat itaque.
                                    </p>
                                    <hr><h6>Nome utente</h6>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates
                                        repudiandae
                                        incidunt sapiente debitis velit repellendus quod quisquam autem voluptatum at modi
                                        aut,
                                        quos ea recusandae veniam, optio fugiat itaque.
                                    </p>
                                    <hr>
                                    <h6>Nome utente</h6>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates
                                        repudiandae
                                        incidunt sapiente debitis velit repellendus quod quisquam autem voluptatum at modi
                                        aut,
                                        quos ea recusandae veniam, optio fugiat itaque.
                                    </p>
                                    <hr>
                                </div>
                                <br>
                                <div class="input-group mb-3" style="border-3">
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="card p-3">
                    <div class="row">
                        <div class="col-1 p-3">
                            <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="50px"
                                 height="50px">
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col">
                                    <h4 class="card-title">Nome utente</h4>
                                    <p>Nome</p>
                                </div>
                                <div class="col text-end">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-dark" style="border: 0" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Modifica</a></li>
                                            <li><a class="dropdown-item" href="#">Elimina</a></li>
                                            <li><a class="dropdown-item" href="#">Segnala</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro provident temporibus eum
                            facilis voluptatum distinctio accusantium inventore deserunt earum officiis, corporis magnam
                            nisi eligendi placeat nesciunt! Laudantium, ad ratione.
                        </p>
                        <div class="col">
                            <button class="btn btn-outline-danger border-0" type="submit">
                                <i class="bi bi-heart"></i>
                            </button>Numero like
                            <p><i class="bi bi-chat-left-text"></i> Numero commenti</p>
                        </div>
                        <br><br>
                        <h6 style="color: black;">Commenti:</h6>
                        <div class="overflow-auto p-3 bg-light" style="max-width: 100%; max-height: 250px;">
                            <h6>Nome utente</h6>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates
                                repudiandae
                                incidunt sapiente debitis velit repellendus quod quisquam autem voluptatum at modi
                                aut,
                                quos ea recusandae veniam, optio fugiat itaque.
                            </p>
                            <hr><h6>Nome utente</h6>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates
                                repudiandae
                                incidunt sapiente debitis velit repellendus quod quisquam autem voluptatum at modi
                                aut,
                                quos ea recusandae veniam, optio fugiat itaque.
                            </p>
                            <hr>
                            <h6>Nome utente</h6>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptates
                                repudiandae
                                incidunt sapiente debitis velit repellendus quod quisquam autem voluptatum at modi
                                aut,
                                quos ea recusandae veniam, optio fugiat itaque.
                            </p>
                            <hr>
                        </div>
                        <div class="input-group p-3">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card p-3">
                    <button type="button" class="btn btn-dark" style="width: 100%;"><i class="bi bi-person"></i></button>
                    <br />
                    <button type="button" class="btn btn-dark" style="width: 100%;"><i class="bi bi-plus-square"></i></button>

                    <hr>

                    <h6>Utenti consigliati</h6>

                    <div class="overflow-auto p-3 bg-light border-0" style="max-width: 100%; max-height: 100%;">
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="25px"
                                     height="25px">
                            </div>
                            <div class="col-10">
                                <p>Nome utente</p>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="25px"
                                     height="25px">
                            </div>
                            <div class="col-10">
                                <p>Nome utente</p>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="25px"
                                     height="25px">
                            </div>
                            <div class="col-10">
                                <p>Nome utente</p>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="25px"
                                     height="25px">
                            </div>
                            <div class="col-10">
                                <p>Nome utente</p>
                            </div>
                            <hr>
                        </div>
                        
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/Profilo.png" style="border-radius: 50%" alt="Errore nel caricamento..." width="25px"
                                     height="25px">
                            </div>
                            <div class="col-10">
                                <p>Nome utente</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
